html{
	background-color: #D0D3D8;
  background-color: #e0e0e0;
  background-color: #D0D4D7;
  color:#ABB1BD;
  min-width: 1065px;
}
body{
	margin: 0 auto;
	font-family: Ubuntu, 'Arial', cursive;
}
@font-face {
    font-family: Ubuntu; /* Гарнитура шрифта */
    src: url(fonts/Ubuntu.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Rurintania; /* Гарнитура шрифта */
    src: url(fonts/Rurintania.ttf); /* Путь к файлу со шрифтом */
}
p{
	margin: 0;
}
#semester .mounth .name {
    font-family: Ubuntu, 'Arial', cursive;
}
#logo{
	font-size: 30px;
    margin: 20px 70px;
	font-family: Rurintania, 'Arial', cursive;
	color: /*#d45d9e*//*#ABB1BD*//*#6bacbf*/white;
	/*text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.77);*/
}
.clear{clear: both;}
/*------------------------------------------------------>*/
#sitebarL{
  position: fixed;
  width:20%;
  min-width: 210px;
  height:100%;
  /*float:left;*/
  background-color: #3D4655;

  /*border: 1px solid black;*/
}
#sitebarL #list{
  margin-top: 70px;
}
#sitebarL #list .stl{
  height: 30px;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 10px;
}
#sitebarL #list .stl:hover{
  background-color: #A0A0A8;
  color: #22222B;
}
#sitebarL #list .stl a{
  color: #ABB1BD;
  text-decoration: none;
}
#sitebarL #list .stl:hover a{
  color: #22222B;
}
#sitebarL #list .stl span{
  float: right;
  margin-right: 20px;
}

#header{
  height:50px;
  margin-left: 22.5%;
  background-color: #E9E9E9;
  /*border-bottom: 5px solid #212326;*/

  /*border:1px solid black;*/
}
#calandar{
  width:20%;
  /*min-height:400px;*/
  float: right;
  margin-top: 5px;
  background-color: #EBEBEB;
  padding-bottom: 30px;
  color:#5F5F5F;

  /*border:1px solid black;*/
}
#calandar #title_cl{
  height: 50px;
  background-color: #E1E1E1;
}
#calandar .tr{
  height: 50px;
}
#calandar #title_cl .th,
#calandar .tr .td,
#calandar .tr .today{
  width:13%;
  float: left;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;

  /*border:1px solid black;*/
}
#calandar .tr .td a,
#calandar .tr .today a{
  text-decoration: none;
  color: #5F5F5F;
}
#calandar .tr .td a:hover,
#calandar .tr .today a:hover{
  color: #41A1D6;
}
#calandar .tr .today a{
  color: #D78150;
}
#calandar .big_today{
  width: 100px;
  font-size: 70px;
  /*margin-left: 20px;*/
  text-align: center;
  margin:0 auto;
}
#calandar .month{
  width: 100px;
  font-size: 16px;
  /*margin-left: 20px;*/
  text-align: center;
  margin:0 auto;
  position: relative;
}

#calandar .month .left{
  float: left;
}
#calandar .month .right{
  float: right;
}
#calandar .month a{
  display: block;
  text-decoration: none;
  color: #5F5F5F;
  width: 20px;
  position: absolute;
    
}
#calandar .month .left a{
  left: -20px;
  top: 0;
}
#calandar .month .right a{
  right: -20px;
  top: 0;
}
#calandar .month a:hover{
  color:white;
  background-color: #5F5F5F;
}
#content{
  width: 57%;
  margin-left: 22.5%;
}
#content .db_hide{
  display: none;
}
#content #schedule{
  /*max-width:70%;
  min-width:700px;*/
  /*height:500px;*/
  margin-top: 5px;
  background-color: #EBEBEB;
  color:white;

  /*border:1px solid white;*/
}
#content #schedule #title_sh{
  height:35px;
  /*background-color: #32363F;*/
  color:#686868;
  padding: 15px 0 0 50px;
  text-align: left;
  font-size: 20px;
}
#content #schedule .sth,
#content #schedule .st{
  width: inherit;
  min-height: 35px;
  margin-top: 20px;
  /*border:1px solid black;*/
}
#content #schedule .sth{
  background-color: #E1E1E1;
  color:#666666;
}
#content #schedule .st{
  /*Для одинаковой высоты вложенных блоков*/
  overflow: hidden;
  _zoom: 1;
}
#content #schedule .sth div,
#content #schedule .st div.td1,
#content #schedule .st div.td2{
  width: 39%;
  /*min-height: 40px;*/
  float: left;
  padding: 10px 0 0 50px;
  font-size: 14px;
}
#content #schedule .st div.td1,
#content #schedule .st div.td2{
  /*Для одинаковой высоты вложенных блоков*/
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}
#content #schedule .st .td1{
  background-color: #5490B3;
}
#content #schedule .st .td2{
  background-color:#41A1D6;
}
#content #schedule .st .td2 p{
  padding-bottom: 10px;
}
#orange_line{
  width: inherit;
  min-height: 50px;
  margin-top: 30px;
  background-color: #E4BDA6;
}

/* Домашние задания /индивидуалки/тесты */
#dz {
  margin-left: 20%;
  margin-top: 20px;
}
#dz #name_discipline{
  width: inherit;
  height: 30px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
}
#dz #nav_tabs_box{
  width: inherit;
  height: 29px;
  margin-top: 5px;
  background-color: #EBEBEB;
}
#dz #nav_tabs_box .dz_tab{
  /*border-right: 1px solid #dcdcdc;*/
  float: left;
  color: #7E7E7C;
  font-size: 12px;
  padding: 8px;
}
#dz #nav_tabs_box .action{
  background-color: #fac;
  color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-right: none;
}
#dz .dz_box{
  width: 170px;
  height:150px;
  margin: 10px 0 0 10px;
  float: left;
  background-color: #EBEBEB;
  color: #7E7E7E;
  font-size: 16px;
  position: relative;

  /*border: 0px solid black;*/
}
#dz .dz_box p{
  padding: 10px;
}
#dz .dz_box .dz_line{
  width: inherit;
  height: 5px;
  background-color: #28A2D9;
  position: absolute;
  bottom: 20px;
  left: 0;

}
/* END.Домашние задания /индивидуалки/тесты */

/* Логин */
#account{

}
/*.reglogin_slide #table003 .td {width: 331px;}*/
#account #login input{
    width: 250px;
    padding: 8px;
    font-size: 13px;
    border: 2px solid white;
    border-radius: 2px;
    height: 25px;
}
#account #login input:focus{
    border: 2px solid #3AE2CE;
    outline: none;
    border-radius: 3px;
}
#account #login input:focus{
    border: 2px solid #3AE2CE;
    outline: none;
    border-radius: 3px;
}
#account .sidebarForm span {
    font-size: 13px;
    margin: 3px;
    color: #333;
    display: block;
}
#account #sub_enter_p {
    width: 150px;
}
#account input[type=submit]{
  width: inherit;
  padding: 8px;
  font-size: 13px;
  border: 2px solid white;
  border-radius: 2px;
}
#account a{
  color: #444;
}
#account a:hover{
  color: blue;
}
/*
.input {
    width: 180px;
    overflow: hidden;
    height: 24px;
    background: white;
    border: solid 1px white;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#login input {
  width: 170px;height: 26px;background: white;padding: 2px 8px;border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}*/
/* END.Логин */

/* dz */
.dz_box{
  width: 200px;
  height:100px;
  margin: 10px;
  background-color: #ccc;
  color: black;

  border:0px solid black;
}
/* END.dz */

/*---------------------------head account */
#head_accaunt{
  width: 300px;
  font-size: 10px;
  float: right;
}
#head_accaunt p{
    width: 190px;
    float: left;
    text-align: right;
    padding-right: 10px;
    color:#333;
    padding-top: 14px;
}
#head_accaunt p span.name{
  font-size: 15px;
}
#head_accaunt p span.status{
  font-size: 12px;
  padding-right: 5px;
}
#head_accaunt #exit{
  float: right;
  margin: 15px 5px 0 0;
  font-size: 13px;
  color: black;
  text-decoration: underline;
}
#head_accaunt #avatar{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 2px;
}
/*---------------------------END.head account */

/*---------------------------Check Home Work */
#checkhw {
  margin-left: 20%;
  margin-top: 20px;
  max-width: 800px;
  margin-right: 3%;
  padding-bottom: 100px;
}
#checkhw #name_discipline{
  width: inherit;
  height: 30px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}
#checkhw #theme{
  width: inherit;
  height: 30px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}
#checkhw #discription_box{
  width: inherit;
  min-height: 130px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}
#checkhw #discription{
  max-width: 500px;
  min-height:128px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0 10px;

  border: 0px solid black;
}
#checkhw .message{
  width: inherit;
  min-height: 50px;
  padding: 5px;

  border: 0px solid black;
}
#checkhw .you,
#checkhw .he{
  min-width: 200px;
  max-width: 300px;
  min-height: 30px;
  background-color: #EBEBEB;
  margin: 5px;
  border-radius: 10px;
  font-size: 14px;
  color: #707070;
  padding: 10px;
}
#checkhw .you{
 float: right;
}
#checkhw .he{
  float: left;
}
#checkhw .input_message{
    width: inherit;
    width: 63.3%;
    height: 90px;
    background-color: #FAFBFC;
    position: fixed;
    bottom: 0;
    border: 1px solid #D3D9DE;
    /* margin-left: 2%; */
}
#checkhw .input_message .text{
    width: 85%;
    height: 70px;
    border: 1px solid #D3D9DE;
    color: #7D7D7D;
    border-radius: 3px;
    margin: 10px 30px;
    resize: none;
}
#checkhw .input_message .buttonSub{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    font-size: 12px;
    border: 1px solid #D3D9DE;
    color: #7D7D7D;
    border-radius: 3px;
    cursor: pointer;
}
#checkhw .input_message .buttonSub:hover{
  border: 1px solid #00c4ff;
}
/*---------------------------END.Check Home Work */

/*---------------------------GROUP */
.groupe_box{
  width: 59%;
  margin-left: 22.5%;
  padding-bottom: 10px;
}
.groupe_box .title{
  width: 100%;
  height: 30px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
}
.groupe_box .group{
    width: 150px;
    height: 60px;
    float: left;
    margin: 10px 0 0 10px;
    color: #707070;
    text-align: center;
    /* vertical-align: bottom; */
    padding-top: 40px;
    background-color: white;
    font-size: 15px;
}
.groupe_box .group a{
  /*color: white;*/
  text-decoration: none;
}
.groupe_box .group a:hover,
.groupe_box .group_list a:hover{
  text-decoration: underline;
}
.groupe_box .group_list{
  height: 30px;
  padding: 10px 0;
  border-bottom:1px solid black;
  color:black;
  padding-left: 30px;
}
.groupe_box .group_list a{
  color: #444;
  text-decoration: none;
}
/*---------------------------END.GROUP */

/*---------------------------Посещаемость */
.hh{
  width: 50%;
  height: 30px;
  background-color: #EBEBEB;
  color: #707070;
  font-size: 16px;
  padding: 10px 0 0 10px;
  margin-top: 10px;
  margin-left: 22.5%;
}
.attendance{
  width: 75%;
  margin-left: 22.5%;
  background-color: white;
  padding: 1%;
  margin-top: 10px;

  min-height:500px;
}
.attendance .line{
  width: 100%;
  height: 30px;
  color: #888;
}
.attendance .line.l1{
  background-color: #dedede;
}
.fioH{
  text-align: center;
}
.fio,
.fioH{
  width:200px;
  float: left;
  margin-right: 20px;
  padding: 5px;
}
.column{
    width: 30px;
    height: 24px;
    float: left;
    padding-top: 6px;
    text-align: center;
}
.column:hover{
  background-color: #ccc;
}
/*---------------------------END.Посещаемость */
/*Стили формы*/
#form_askhomework input,
#form_askhomework textarea,
#form_askhomework select,
#login input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    -webkit-appearance: none;

    font-size: 14px;
    border: 1px solid #dcdcdc;
    padding: 12px 0;
    padding-left:5%;
    width: 95%;

    border-radius: 3px 3px 0 0;
}

#form_askhomework textarea{
  resize: vertical;
  min-height: 50px;
  height: 100px;
  max-height: 350px;
}

#form_askhomework select{
  width:100%;
}

#form_askhomework h3{
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}
#form_askhomework p{
  margin-bottom: 10px;
}

#form_askhomework input[type="submit"] {
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    outline: none;
    -webkit-appearance: none;

    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    width: inherit;
}
#form_askhomework img{
    width: 30px;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
}


/*---------------*/
#up_page{
    display: block;
    min-width: 1065px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#up_opacity{
    display: block;
    min-width: 1065px;
    width: 100%;
    height: 100%;
    background-color: #333131;
    position: absolute;
    /* top: 30px; */
    margin: 0 auto;
    opacity: 0.7;
    z-index: 50;
}
#in_up_page{
    display: block;
    min-width: 500px;
    width: 600px;
    min-height: 800px;
    background-color: white;
    position: relative;
    top: 30px;
    margin: 0 auto;
    z-index: 100;
}

/**/